evio_Identity_Microservice/wsdl/CustomUI_ACP_Member_Validation_WS_Ext.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsdLocal1="http://www.siebel.com/xml/ACP%20Cartao%20Beneficiario%20Geral%20IO"
    targetNamespace="http://siebel.com/CustomUI"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsdLocal2="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://siebel.com/CustomUI"
>
    <types>
        <xsd:schema
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
            xmlns:xsdLocal3="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved.
                    Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element
                name="ListOfAcpMemberValidationIo"
                type="xsdLocal3:ListOfAcpMemberValidationIo"
            ></xsd:element>
            <xsd:complexType
                name="ListOfAcpMemberValidationIoTopElmt"
            >
                <xsd:sequence>
                    <xsd:element
                        name="ListOfAcpMemberValidationIo"
                        maxOccurs="1"
                        minOccurs="1"
                        type="xsdLocal3:ListOfAcpMemberValidationIo"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="ListOfAcpMemberValidationIo"
            >
                <xsd:sequence>
                    <xsd:element
                        name="AcpMember"
                        maxOccurs="unbounded"
                        minOccurs="0"
                        type="xsdLocal3:AcpMember"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="AcpMember"
            >
                <xsd:sequence>
                    <xsd:element
                        name="Pessoa_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Entidade_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Socio_Ativo"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio_Suf"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://siebel.com/CustomUI"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
            <xsd:import
                namespace="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
            ></xsd:import>
            <xsd:import
                namespace="http://www.siebel.com/xml/ACP%20Cartao%20Beneficiario%20Geral%20IO"
            ></xsd:import>
            <xsd:element
                name="QueryByNumCartaoExt_Input"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="N_Cartao"
                            type="xsd:string"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="QueryByNumCartaoExt_Output"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Error_spcCode"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="Error_spcMessage"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            ref="xsdLocal1:ListOfAcpCartaoBeneficiarioGeralIo"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="ValidateMemberBI_Input"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="vBirthDT"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="vBiNum"
                            type="xsd:string"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="ValidateMemberBI_Output"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Error_spcCode"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="Error_spcMessage"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            ref="xsdLocal2:ListOfAcpMemberValidationIo"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="QueryByEntExt_Input"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Entidade_ID"
                            type="xsd:string"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="QueryByEntExt_Output"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Error_spcCode"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="Error_spcMessage"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            ref="xsdLocal2:ListOfAcpMemberValidationIo"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="QueryByNumSocioExt_Input"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="N_Socio"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="N_Socio_Suf"
                            type="xsd:string"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="QueryByNumSocioExt_Output"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Error_spcCode"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="Error_spcMessage"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            ref="xsdLocal2:ListOfAcpMemberValidationIo"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="ValidateMemberNIF_Input"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="vBirthDT"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="vNifNum"
                            type="xsd:string"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="ValidateMemberNIF_Output"
            >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Error_spcCode"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            name="Error_spcMessage"
                            type="xsd:string"
                        ></xsd:element>
                        <xsd:element
                            ref="xsdLocal2:ListOfAcpMemberValidationIo"
                        ></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
            xmlns:xsdLocal2="http://www.siebel.com/xml/ACP%20Member%20Validation%20IO"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved.
                    Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element
                name="ListOfAcpMemberValidationIo"
                type="xsdLocal2:ListOfAcpMemberValidationIo"
            ></xsd:element>
            <xsd:complexType
                name="ListOfAcpMemberValidationIoTopElmt"
            >
                <xsd:sequence>
                    <xsd:element
                        name="ListOfAcpMemberValidationIo"
                        maxOccurs="1"
                        minOccurs="1"
                        type="xsdLocal2:ListOfAcpMemberValidationIo"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="ListOfAcpMemberValidationIo"
            >
                <xsd:sequence>
                    <xsd:element
                        name="AcpMember"
                        maxOccurs="unbounded"
                        minOccurs="0"
                        type="xsdLocal2:AcpMember"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="AcpMember"
            >
                <xsd:sequence>
                    <xsd:element
                        name="BirthDate"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ACPIdentityCardNumber"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ACPFiscalNumber"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ACPDocumentType"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ACPCountryNIFNumber"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ACPCountryDocumentNumber"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Pessoa_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Entidade_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Socio_Ativo"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio_Suf"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xmlns:xsdLocal1="http://www.siebel.com/xml/ACP%20Cartao%20Beneficiario%20Geral%20IO"
            targetNamespace="http://www.siebel.com/xml/ACP%20Cartao%20Beneficiario%20Geral%20IO"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved.
                    Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element
                name="ListOfAcpCartaoBeneficiarioGeralIo"
                type="xsdLocal1:ListOfAcpCartaoBeneficiarioGeralIo"
            ></xsd:element>
            <xsd:complexType
                name="ListOfAcpCartaoBeneficiarioGeralIoTopElmt"
            >
                <xsd:sequence>
                    <xsd:element
                        name="ListOfAcpCartaoBeneficiarioGeralIo"
                        maxOccurs="1"
                        minOccurs="1"
                        type="xsdLocal1:ListOfAcpCartaoBeneficiarioGeralIo"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="ListOfAcpCartaoBeneficiarioGeralIo"
            >
                <xsd:sequence>
                    <xsd:element
                        name="AcpEbcCartaoBeneficioGeral"
                        maxOccurs="unbounded"
                        minOccurs="0"
                        type="xsdLocal1:AcpEbcCartaoBeneficioGeral"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="AcpEbcCartaoBeneficioGeral"
            >
                <xsd:sequence>
                    <xsd:element
                        name="Num_Cartao"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Cartao_Ativo"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Tipo_Benefic"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="ListOfAcpMember"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsdLocal1:ListOfAcpMember"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="ListOfAcpMember"
            >
                <xsd:sequence>
                    <xsd:element
                        name="AcpMember"
                        maxOccurs="unbounded"
                        minOccurs="0"
                        type="xsdLocal1:AcpMember"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="AcpMember"
            >
                <xsd:sequence>
                    <xsd:element
                        name="Pessoa_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="N_Socio_Suf"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Socio_Ativo"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                    <xsd:element
                        name="Entidade_ID"
                        maxOccurs="1"
                        minOccurs="0"
                        type="xsd:string"
                    ></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message
        name="QueryByNumCartaoExt_Input"
    >
        <part
            name="QueryByNumCartaoExt_Input"
            element="tns:QueryByNumCartaoExt_Input"
        ></part>
    </message>
    <message
        name="QueryByNumCartaoExt_Output"
    >
        <part
            name="QueryByNumCartaoExt_Output"
            element="tns:QueryByNumCartaoExt_Output"
        ></part>
    </message>
    <message
        name="ValidateMemberBI_Input"
    >
        <part
            name="ValidateMemberBI_Input"
            element="tns:ValidateMemberBI_Input"
        ></part>
    </message>
    <message
        name="ValidateMemberBI_Output"
    >
        <part
            name="ValidateMemberBI_Output"
            element="tns:ValidateMemberBI_Output"
        ></part>
    </message>
    <message
        name="QueryByEntExt_Input"
    >
        <part
            name="QueryByEntExt_Input"
            element="tns:QueryByEntExt_Input"
        ></part>
    </message>
    <message
        name="QueryByEntExt_Output"
    >
        <part
            name="QueryByEntExt_Output"
            element="tns:QueryByEntExt_Output"
        ></part>
    </message>
    <message
        name="QueryByNumSocioExt_Input"
    >
        <part
            name="QueryByNumSocioExt_Input"
            element="tns:QueryByNumSocioExt_Input"
        ></part>
    </message>
    <message
        name="QueryByNumSocioExt_Output"
    >
        <part
            name="QueryByNumSocioExt_Output"
            element="tns:QueryByNumSocioExt_Output"
        ></part>
    </message>
    <message
        name="ValidateMemberNIF_Input"
    >
        <part
            name="ValidateMemberNIF_Input"
            element="tns:ValidateMemberNIF_Input"
        ></part>
    </message>
    <message
        name="ValidateMemberNIF_Output"
    >
        <part
            name="ValidateMemberNIF_Output"
            element="tns:ValidateMemberNIF_Output"
        ></part>
    </message>
    <portType
        name="ACP_spcMember_spcValidation_spcNumCart_spcWS_spcWF_spcExt"
    >
        <operation
            name="QueryByNumCartaoExt"
        >
            <input
                message="tns:QueryByNumCartaoExt_Input"
            ></input>
            <output
                message="tns:QueryByNumCartaoExt_Output"
            ></output>
        </operation>
    </portType>
    <portType
        name="ACP_spcMember_spcValidation_spcBI_spcWS_spcWF_spcExt"
    >
        <operation
            name="ValidateMemberBI"
        >
            <input
                message="tns:ValidateMemberBI_Input"
            ></input>
            <output
                message="tns:ValidateMemberBI_Output"
            ></output>
        </operation>
    </portType>
    <portType
        name="ACP_spcMember_spcValidation_spcEnt_spcWS_spcWF_spcExt"
    >
        <operation
            name="QueryByEntExt"
        >
            <input
                message="tns:QueryByEntExt_Input"
            ></input>
            <output
                message="tns:QueryByEntExt_Output"
            ></output>
        </operation>
    </portType>
    <portType
        name="ACP_spcMember_spcValidation_spcNumSoc_spcWS_spcWF_spcExt"
    >
        <operation
            name="QueryByNumSocioExt"
        >
            <input
                message="tns:QueryByNumSocioExt_Input"
            ></input>
            <output
                message="tns:QueryByNumSocioExt_Output"
            ></output>
        </operation>
    </portType>
    <portType
        name="ACP_spcMember_spcValidation_spcNIF_spcWS_spcWF_spcExt"
    >
        <operation
            name="ValidateMemberNIF"
        >
            <input
                message="tns:ValidateMemberNIF_Input"
            ></input>
            <output
                message="tns:ValidateMemberNIF_Output"
            ></output>
        </operation>
    </portType>
    <binding
        name="ACP_spcMember_spcValidation_spcNumCart_spcWS_spcWF_spcExt"
        type="tns:ACP_spcMember_spcValidation_spcNumCart_spcWS_spcWF_spcExt"
    >
        <soap:binding
            transport="http://schemas.xmlsoap.org/soap/http"
            style="document"
        ></soap:binding>
        <operation
            name="QueryByNumCartaoExt"
        >
            <soap:operation
                soapAction="document/http://siebel.com/CustomUI:QueryByNumCartaoExt"
            ></soap:operation>
            <input>
                <soap:body
                    use="literal"
                ></soap:body>
            </input>
            <output>
                <soap:body
                    use="literal"
                ></soap:body>
            </output>
        </operation>
    </binding>
    <binding
        name="ACP_spcMember_spcValidation_spcBI_spcWS_spcWF_spcExt"
        type="tns:ACP_spcMember_spcValidation_spcBI_spcWS_spcWF_spcExt"
    >
        <soap:binding
            transport="http://schemas.xmlsoap.org/soap/http"
            style="document"
        ></soap:binding>
        <operation
            name="ValidateMemberBI"
        >
            <soap:operation
                soapAction="document/http://siebel.com/CustomUI:ValidateMemberBI"
            ></soap:operation>
            <input>
                <soap:body
                    use="literal"
                ></soap:body>
            </input>
            <output>
                <soap:body
                    use="literal"
                ></soap:body>
            </output>
        </operation>
    </binding>
    <binding
        name="ACP_spcMember_spcValidation_spcEnt_spcWS_spcWF_spcExt"
        type="tns:ACP_spcMember_spcValidation_spcEnt_spcWS_spcWF_spcExt"
    >
        <soap:binding
            transport="http://schemas.xmlsoap.org/soap/http"
            style="document"
        ></soap:binding>
        <operation
            name="QueryByEntExt"
        >
            <soap:operation
                soapAction="document/http://siebel.com/CustomUI:QueryByEntExt"
            ></soap:operation>
            <input>
                <soap:body
                    use="literal"
                ></soap:body>
            </input>
            <output>
                <soap:body
                    use="literal"
                ></soap:body>
            </output>
        </operation>
    </binding>
    <binding
        name="ACP_spcMember_spcValidation_spcNumSoc_spcWS_spcWF_spcExt"
        type="tns:ACP_spcMember_spcValidation_spcNumSoc_spcWS_spcWF_spcExt"
    >
        <soap:binding
            transport="http://schemas.xmlsoap.org/soap/http"
            style="document"
        ></soap:binding>
        <operation
            name="QueryByNumSocioExt"
        >
            <soap:operation
                soapAction="document/http://siebel.com/CustomUI:QueryByNumSocioExt"
            ></soap:operation>
            <input>
                <soap:body
                    use="literal"
                ></soap:body>
            </input>
            <output>
                <soap:body
                    use="literal"
                ></soap:body>
            </output>
        </operation>
    </binding>
    <binding
        name="ACP_spcMember_spcValidation_spcNIF_spcWS_spcWF_spcExt"
        type="tns:ACP_spcMember_spcValidation_spcNIF_spcWS_spcWF_spcExt"
    >
        <soap:binding
            transport="http://schemas.xmlsoap.org/soap/http"
            style="document"
        ></soap:binding>
        <operation
            name="ValidateMemberNIF"
        >
            <soap:operation
                soapAction="document/http://siebel.com/CustomUI:ValidateMemberNIF"
            ></soap:operation>
            <input>
                <soap:body
                    use="literal"
                ></soap:body>
            </input>
            <output>
                <soap:body
                    use="literal"
                ></soap:body>
            </output>
        </operation>
    </binding>
    <service
        name="ACP_spcMember_spcValidation_spcWS_spcExt"
    >
        <port
            binding="tns:ACP_spcMember_spcValidation_spcNumCart_spcWS_spcWF_spcExt"
            name="ACP_spcMember_spcValidation_spcNumCart_spcWS_spcWF_spcExt"
        >
            <soap:address
                location="http://p0s.acp.pt:81/eaiext_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=ACPEVIO&amp;Password=GGit6J1aSd"
            ></soap:address>
        </port>
        <port
            binding="tns:ACP_spcMember_spcValidation_spcBI_spcWS_spcWF_spcExt"
            name="ACP_spcMember_spcValidation_spcBI_spcWS_spcWF_spcExt"
        >
            <soap:address
                location="http://p0s.acp.pt:81/eaiext_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=ACPEVIO&amp;Password=GGit6J1aSd"
            ></soap:address>
        </port>
        <port
            binding="tns:ACP_spcMember_spcValidation_spcEnt_spcWS_spcWF_spcExt"
            name="ACP_spcMember_spcValidation_spcEnt_spcWS_spcWF_spcExt"
        >
            <soap:address
                location="http://p0s.acp.pt:81/eaiext_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=ACPEVIO&amp;Password=GGit6J1aSd"
            ></soap:address>
        </port>
        <port
            binding="tns:ACP_spcMember_spcValidation_spcNumSoc_spcWS_spcWF_spcExt"
            name="ACP_spcMember_spcValidation_spcNumSoc_spcWS_spcWF_spcExt"
        >
            <soap:address
                location="http://p0s.acp.pt:81/eaiext_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=ACPEVIO&amp;Password=GGit6J1aSd"
            ></soap:address>
        </port>
        <port
            binding="tns:ACP_spcMember_spcValidation_spcNIF_spcWS_spcWF_spcExt"
            name="ACP_spcMember_spcValidation_spcNIF_spcWS_spcWF_spcExt"
        >
            <soap:address
                location="http://p0s.acp.pt:81/eaiext_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=ACPEVIO&amp;Password=GGit6J1aSd"
            ></soap:address>
        </port>
    </service>
</definitions>